
body {
	
  margin:0px;
	padding:0px;
	font-family:helvetica, sans-serif;
	font-size:12px;
	text-align:center;
  text-decoration:none;
	background-color:#FFF;
	overflow: hidden;
    cursor: pointer;
     
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


a:hover {
    color: blue;
}

/* selected link */
a:active {
    color: black;
}

a:link {
    text-decoration: none;
    color:black;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: none;
}
    
#header{
    position:fixed;
    width:100%; 
    padding-top: 25px; 
    padding-bottom:0px; 
    text-align:center; 
    z-index:100;
    color: #000;
    height: 10px;
    margin-top: -8px;
    word-spacing: 7px;
    margin-right:5px;
    margin-left:5px;
}


p {
    color: #00f;
    display: block;
    position: fixed;
    z-index: 20;
    display: none;
    text-decoration: none;
  }

#instructions{
    position: fixed;
    bottom: 3px;
    right: 3px;
    color: #00f;
    z-index: 20;
    padding: 1px;
    padding-left: 4px;
    padding-right: 4px;
    word-spacing: 0px;
}


div.gallery img {
    position: fixed;
    width: 93vw;
    height: 90vh;
    top: 50px;
    left: 40px;
    right:30px;
    bottom:10px;
    -webkit-transform: scale(1,1);
    -ms-transform: scale(1,1);
    -moz-transform: scale(1,1);
    -o-transform: scale(1,1);
    transform: scale(1,1);

    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
  }

.responsive {
      padding: 0 6px;
      float: center;
      width: 24.99999%;
  }

@media only screen and (max-width: 700px){
      .responsive {
          width: 49.99999%;
          margin: 6px 0;
      }
  }

@media only screen and (max-width: 500px){
      .responsive {
          width: 100%;
      }
  }

.clearfix:after {
      content: "";
      display: table;
      clear: both;
  }

