

p {
    color: #00f;
    display: block;
    position: fixed;
    z-index: 20;
    display: none;
    text-decoration: none;
  }

#instructions{
    position: fixed;
    bottom: 3px;
    right: 3px;
    color: #00f;
    z-index: 20;
    padding: 1px;
    padding-left: 4px;
    padding-right: 4px;
    word-spacing: 0px;
}